body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.alinha-centro{
    display: flex;
    flex-direction: row;
    
    align-items: center;

}

.item{
    padding: 15px;
}