.menu{
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-radius: 5px;
    width: 400px;
}

.item{
 padding: 4px;  
 width: 20px;
 height: 20px; 
}

.subitem{
    display: none;
    height: 50px;
}

.item:hover.subitem{
    display: inline;
    position: absolute;
    color: green;
}